<%@students.each do |student|%>
         <tr>
           <td><%= student.name %></td>
           <td><%= student.last_name %></td>
           <td><%= student.address %></td>
           <td><%= student.neighborhood%></td>
           <td><%= student.email%></td>
         </tr>
<% end %>
